.parentImitation{
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: center;
    backdrop-filter: blur(5px);
    height: 100%;
    width: 100%;

    .popupContainer{
        position: absolute;
        bottom: 10px;
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: #ee6c4d;
        height: 75%;
        width: 75%;

        p{
            font-size: 50px;
            font-weight: bold;
            color: whitesmoke;
        }

        button{
            position: absolute;
            top: 0px;
            right: 0px;
            height: 50px;
            width: 50px;
        }
    }
}