#Text{
    padding: 5px;
}

.buttons{
    display: flex;
    flex-direction: row;
    margin-top: 10px;
    margin-bottom: 40px;
    
    button{
        margin: 5px;
    }
}

.positionButtons{
    display: flex;
    flex-direction: column;
    justify-content: center;
}